---
---

<section class="categories">
    {% assign categories = site.categories | sort %}
    {% for category in categories %}
        {% assign name = category[0] %}
        {% assign posts = category[1] | reject: "list_order" %}
        {% assign size = posts | size %}
        <section class="category">
                <h3>
                    <a href="/category/{{ name | slugify }}/">{{ name | replace: "-", " " }}</a>
                </h3>

            <ul>
                {% assign sorted_posts = posts | sort: "list_order" %}
                {% for post in sorted_posts limit: 4 %}
                    <li><a href="{{ post.url }}">{% include document-icon.html icon=post.type %}{{ post.title }}</a></li>
                {% endfor %}
                {% if size > 4 %}
                    <li><a href="/category/{{ name | slugify }}/">{{ size | minus: 4 }} more...</a></li>
                {% endif %}
            </ul>
        </section>
    {% endfor %}
</section>
